/* main.css */
.container-main {
  max-width: 100%;
  box-sizing: border-box;
  min-height: 80vh;
  margin: 40px;
  padding: 50px;
  background: var(--branco);
  border: 2px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

body {

  flex-direction: column;
  padding-top: 10px;
}

h1, h2, h3 {
  font-size: clamp(1.2rem, 2vw, 2rem);
}

main {
  flex: 1;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

nav button {
  width: 300px;
  background-color: var(--creme);
  color: var(--marrom-texto);
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px #00000022;
}

nav button:hover {
  background-color: var(--verde-escuro);
  color: var(--branco);
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}


.coluna {
  flex: 1 1 300px;
  padding: 20px;
  background-color: var(--creme);
  color: var(--marrom-texto);
  border-radius: 10px;
  box-shadow: 2px 2px 5px #00000022;
  box-sizing: border-box;
}

/* Responsividade */
@media (max-width: 600px) {
  header h2 {
    font-size: 1.2rem;
    margin-left: 10px;
  }

  .bloco-imagem {
    width: 100%;
  }
}
